.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-background);
}

.formMain {
  padding-top: 12vh;
  padding-bottom: 5vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formQuestion {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.3vh;
  margin-bottom: 3vh;
  text-align: center;
  gap: 1.5vh;
}

.formInputNum {
  width: 10ch;
}

.formInputRadio {
  margin: 2vh 2vw;
}

.formInputCal {
  min-width: 20vw;
}

.inputBasic {
  border-radius: 20px;
  border: 1px solid white;
  padding: 0.5vh 2vw;
  background-color: #999;
  font-size: 2.1vh;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  font-size: 2.5vh;
}

.formBtn {
  min-width: 30vw;
  color: black;
  background-color: white;
  height: 4vh;
  font-size: 2.5vh;
  border-radius: 20px;
  padding: 0.5vh 2vw;
}

.formEnd {
  text-align: center;
  font-size: 2.5vh;
  color: red;
}

.colorWhite {
  color: white;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .formBtn {
    padding: 0.5vh 4vw;
  }
}
